$colors: (
    "red": #C61B3B,
    "green": #1CC7A8,
    "light": #CCCCCC,
    "grey": #3D3D3D,
    "dark": #060606
);

$font-weights: (
	"light": 300,
	"regular": 300,
	"bold": 700,
	"extrabold": 800
);

$font-size: 0.875em;
$line-height: 1.313em;
$max-width: 546px;